<div id="div">
   <div class="about-container">
        <h1>About Me</h1>
        
        <p>
            <span class="emoji">👋</span>Hey! I'm <strong>Chafik Sami</strong>, a tech enthusiast with a background in <strong class="highlight">Networking</strong>, <strong class="highlight">Cloud Computing</strong>, and <strong class="highlight">IT Systems</strong>. I hold a degree in LP Systems, Networks, and Cloud Computing and certifications in Microsoft Office, blending technical expertise with strong organizational skills.
        
        <p>
            When I’m not troubleshooting networks or exploring the latest in tech, you’ll find me:
        <p>
            <span class="emoji">🎮</span>Leveling up in video games, <br><span class="emoji">🎥</span>watch some show or movie,<br><span class="emoji">🌿</span>Hiking to reconnect with nature.
        </p>
    </div> 
</div>
