<div class="projects-container">

    <a href="https://github.com/SamiChafik/ConstructionXpert" target="_blank">
        <div class="project-card">
      <div class="project-image">
        <img src="assets/constructionXpert.png" alt="Project 1 Screenshot">
      </div>
      <div class="project-content">
        <h3 class="project-title">ConstructionXpert Services Solution</h3>
        <p class="project-description">
            Cette application web permet à l'équipe de construction de créer et gérer des projets de construction. Elle propose une interface conviviale pour visualiser, mettre à jour et supprimer des projets, avec gestion des tâches et des ressources.
        </p>
        <div class="project-languages">
          <span class="language-tag">Java</span>
          <span class="language-tag">HTML</span>
          <span class="language-tag">CSS</span>
          <span class="language-tag">SQL</span>
        </div>
      </div>
    </div>
    </a>
    
  
    <a href="https://github.com/SamiChafik/SP2_BR5" target="_blank">
            <div class="project-card">
      <div class="project-image">
        <img src="assets/MyMovies.png" alt="Project 2 Screenshot">
      </div>
      <div class="project-content">
        <h3 class="project-title">My movies</h3>
        <p class="project-description">
            MyMovies est une application web conviviale conçue pour aider les utilisateurs à gérer leur liste de films.
            Que vous souhaitiez suivre les films que vous avez déjà vus ou ceux que vous souhaitez regarder,
            MyMovies offre une interface intuitive et facile à utiliser.
        </p>
        <div class="project-languages">
          <span class="language-tag">JavaScript</span>
          <span class="language-tag">HTML</span>
          <span class="language-tag">CSS</span>
        </div>
      </div>
    </div>

    </a>

    <a href="https://github.com/SamiChafik/SP2_BR4" target="_blank">
        <div class="project-card">
        <div class="project-image">
          <img src="assets/weather connect.png" alt="Project 3 Screenshot">
        </div>
        <div class="project-content">
          <h3 class="project-title">Weather connect</h3>
          <p class="project-description">
            WeatherConnect est une application interactive permettant aux utilisateurs de consulter en temps réel les conditions météorologiques dans différentes villes du monde.
          </p>
          <div class="project-languages">
            <span class="language-tag">JavaScript</span>
            <span class="language-tag">HTML</span>
            <span class="language-tag">CSS</span>
          </div>
        </div>
      </div>
    </a>
    

      <a href="https://github.com/soumia22k/EduManage"  target="_blank">
        <div class="project-card">
        <div class="project-image">
          <img src="assets/edumanage.png" alt="Project 4 Screenshot">
        </div>
        <div class="project-content">
          <h3 class="project-title">EduManage</h3>
          <p class="project-description">
            EduManage est une application web interne pour la gestion des étudiants et des cours. Cette application permettra aux administrateurs de visualiser, ajouter, modifier et supprimer des étudiants et des cours via une interface conviviale et intuitive.
          </p>
          <div class="project-languages">
            <span class="language-tag">Java</span>
            <span class="language-tag">JavaScript</span>
            <span class="language-tag">HTML</span>
            <span class="language-tag">CSS</span>
          </div>
        </div>
      </div>
    </a>
      
  
  </div>